// Kindly theme start
$baseColor: #81C00E;
$dip: #222222;
$pfont: #777777;
$pop: 'Poppins', sans-serif;
/* Welcome Area css
============================================================================================ */
.welcome_area{
	padding-top: 150px;
}
.welcome_inner{
	.welcome_img{
		background: #eeeeee;
		margin-left: 40px;
		padding-left: 30px;
		padding-right: 30px;
		padding-bottom: 30px;
		img{
			margin-top: -30px;
		}
	}
}
.welcome_text{
	h4{
		color: $dip;
		font-family: $pop;
		font-size: 36px;
		margin-bottom: 18px;
	}
	p{
		max-width: 495px;
		line-height: 24px;
		font-family: $pop;
		font-size: 14px;
		font-weight: 300;
		margin-bottom: 40px;
	}
}
.wel_item{
	border: 1px solid #eeeeee;
	padding: 30px 25px;
	i{
		font-size: 24px;
		color: $baseColor;
	}
	h4{
		font-size: 24px;
		font-family: $pop;
		font-weight: 600;
		color: $dip;
		margin-bottom: 5px;
		margin-top: 10px;
	}
	p{
		font-size: 14px;
		font-family: $pop;
		color: $pfont;
		margin-bottom: 0px;
	}
}
/* End Welcome Area css
============================================================================================ */
// Kindle theme end